
<!-- Page Content -->
<div class="container">

	<!-- Heading Row -->
	<div class="row">
		<div class="col-md-8">
			<img class="img-responsive img-rounded"
				src="563656783912ead404f1719d_easyhelpvalkonen.png" alt="">
		</div>
		<!-- /.col-md-8 -->
		<div class="col-md-4">
			<h1>Local AD classifieds</h1>
			<p>EasyHelp platform helps independent workers to connect to
				people instantaneously for free. The best services in town are here.
				Sign up now</p>

		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->

	<hr>

	<!-- Call to Action Well -->
	<div class="row">
		<div class="col-lg-12">
			<div class="well text-center">Avail cheapest and best online
				services, just for free...! Sign up and enjoy!!!</div>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">
		<div class="col-md-4">
			<h2>Already have an account? Sign In here..</h2>

			<a class="btn btn-default" href="#login">Log In</a>
		</div>
		<!-- /.col-md-4 -->
		<div class="col-md-4">
			<h2>Client Sign-up</h2>

			<a class="btn btn-default" href="#createClient">Sign-up
				as Client</a>
		</div>
		<!-- /.col-md-4 -->
		<div class="col-md-4">
			<h2>Worker Sign-up</h2>

			<a class="btn btn-default" href="#createWorker">Sign-up
				as Worker</a>
		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>
	</footer>

</div>
