<!DOCTYPE html>
<html lang="en">
<head>
  <title>Worker Recommendation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">
  <h2>Worker Recommendation</h2>
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
      <div class="col-sm-6 form-group">
		<label>Name1</label>
	  </div>
	  		<label>Credibility:</label>
	  		<label>0.9</label>
	  </div>
	
      <div class="panel-body">
      <div class="col-sm-12">
							<div class="col-sm-6 form-group">
								<label>Address:</label>
								<label style="font-size: small;">Acadie street</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Email:</label>
								<label style="font-size: small;">abc@pqr.com</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Service Fee:</label>
								<label style="font-size: small;">200</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Experience:</label>
								<label style="font-size: small;">10</label>
							</div>
							<button type="button" class="btn btn-primary btn-xs">Choose</button>
							
			</div>
	  </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
      <div class="col-sm-6 form-group">
		<label>Name2</label>
	  </div>
	  		<label>Credibility:</label>
	  		<label>0.8</label>
	  </div>
	
      <div class="panel-body">
      <div class="col-sm-12">
							<div class="col-sm-6 form-group">
								<label>Address:</label>
								<label style="font-size: small;">Bishop street</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Email:</label>
								<label style="font-size: small;">abc@xyz.com</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Service Fee:</label>
								<label style="font-size: small;">250</label>
							</div>
							<div class="col-sm-6 form-group">
								<label>Experience:</label>
								<label style="font-size: small;">11</label>
							</div>
							<button type="button" class="btn btn-primary btn-xs">Choose</button>
							
			</div>
	  </div>
    </div>
    
  </div>
</div>

</body>
</html>
