
<div class="container">
	<h1 class="well">User Dashboard</h1>

	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" ng-click="showTab(1)">Profile
				Information</a></li>
		<li><a data-toggle="tab" ng-click="showTab(2)">Pending
				Requests</a></li>
		<li><a data-toggle="tab" ng-click="showTab(3)">All
				Requests</a></li>
	</ul>

	<div class="tab-content">
		<div ng-show="tab1">

			<div class="col-lg-12 well">
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Name:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.workerName}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Email:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.workerEmail}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Address:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.workeraddress}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Expertise Area:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.expertiseArea}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Level of expertise:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.levelExpertise}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Service fee:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.servicefee}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Availability:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.availabilityFlag}}</label>
							</div>
						</div>
					 	<div class="row">
							<div class="col-sm-4 form-group">
								<label>Total money earned:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.totalMoneyEarned}}</label>
							</div>
						</div> 
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Credibility:</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small">{{worker.crediblity/10}}</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 form-group">
								<label>Experience (tasks accomplished):</label>
							</div>
							<div class="col-sm-8 form-group">
								<label style="font-size: small;">{{worker.experince}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="tab2">


			<div class="col-lg-12 well">
				<h2>Pending Requests</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Task Id</th>
							<th>Task Status</th>
							<th>Date</th>
							<!-- <th>Payment</th> -->
							<th>Accept/Reject</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="workerPendingTask in workerPendingReqlst">
							<td>{{$index+1}}</td>
							<td>{{workerPendingTask.taskID}}</td>
							<td>{{workerPendingTask.taskStatus}}</td>
							<!-- 	<td>{{workerPendingTask.clientName}}</td> -->
							<td>{{workerPendingTask.createdDate | date:'medium'}}</td>
							<!-- <td>{{workerPendingTask.moneyEarned}}</td> -->
							<td><div ng-if='workerPendingTask.taskStatus!="ACCEPTED"'>
									<button type="button" class="btn btn-link"
										ng-click="assignTask('ACCEPTED',workerPendingTask)">Accept</button>
									<button type="button" class="btn btn-link"
										ng-click="assignTask('REJECTED',workerPendingTask)">Reject</button>
								</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div ng-show="tab3">


			<div class="col-lg-12 well">
				<h2> Tasks History</h2>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>S.No</th>
							<!-- <th>Task Id</th>
							<th>Task Status</th> -->
							<th>Date</th>
							<th>Payment</th>
							<th>Feedback</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="workerTask in workerTasklst">
							<td>{{$index+1}}</td>
							<!-- <td>{{workerPendingTask.taskID}}</td>
							<td>{{workerPendingTask.taskStatus}}</td> -->
							<td>{{workerTask.createdDate | date:'medium'}}</td>
							<td>{{workerTask.moneyEarned}}</td>
							<td>{{workerTask.credibility}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
